body {
  margin:0;
}
.App {
    width: 100%;
    height: 100%;
    position: absolute;  
    background: linear-gradient(45deg,#1c92d2, #f2fcfe , #24AADB , #27DBB1,#a08f33);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}