* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:root {
	--color-primary: blue;
	--color-secondary: coral;
}

.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

button {
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--color-primary);
	color: white;
	text-transform: uppercase;
}
